<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}mimir{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.amber.min.css">
  <script src="https://unpkg.com/htmx.org@1.9.10" defer></script>
</head>
<body>
  <main class="container">
    <nav>
      <ul>
        <li><a href="{{ url_for('web.index') }}"><strong>mimir</strong></a></li>
        {% if current_list %}
        <li><a href="/{{ current_list }}/">{{ current_list }}</a></li>
        <li><a href="/{{ current_list }}/today">today</a></li>
        <li><a href="/{{ current_list }}/yesterday">yesterday</a></li>
        {% endif %}
      </ul>
      <ul>
        {% if inboxes|length > 1 and not current_list %}
        <li><small>{{ inboxes|length }} inboxes</small></li>
        {% elif current_list %}
        <li><small>archive</small></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
